<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册界面</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootoast.css" rel="stylesheet"/>

</head>
<body>
<div id="app" class="my-5">
    <div class="container-fluid">
        <div >
            <div >
                <h2 class=" text-center">注册</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <div class="form-group">
                        <label for="nickname-input">用户名</label>
                        <input class="form-control" type="text" id="nickname-input"
                         v-model="user.nickname">
                        <small  class="form-text text-muted">长度属于[4, 15]</small>
                    </div>
                    <div class="form-group">
                        <label for="password-input">密码</label>
                        <input class="form-control" type="password" id="password-input"
                        v-model="user.password">
                        <small  class="form-text text-muted">长度属于[6, 30]</small>
                    </div>
                    <div class="row px-2">
                        <button @click="register()" class="form-control btn btn-dark col-7 mx-1">注册</button>
                        <a href="login.html" class="form-control btn btn-secondary col mx-1" >登录</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="js/vue.js"></script>
<script src="js/marked.min.js"></script>
<script src="js/axios.min.js"></script>

<script src="js/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script src="js/bootoast.js"></script>
<script src="js/project/bootoast.util.js"></script>
<script src="js/project/remoteJs.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            user:{
                nickname: null,
                password: null
            }
        },
        methods: {
            register(){
                var me = this;
                remoteJs.register(me.user).then(msg=>{
                    console.log("then ");
                    console.log(msg)
                    if(msg.data.state){
                        bootoastUtil.toast("注册成功！ 点击登录 get 新世界! QAQ ~~~ QMQ ~~~ QVQ ~~~ ", 'success')
                    }else{
                        bootoastUtil.toast("注册失败，重新 try 一下吧！ QAQ", 'warn')
                    }
                }).catch(msg=>{
                    console.log("catch ");
                    console.log(msg)
                    bootoastUtil.toast("注册错误！", 'error')
                });
            }
        }
    });
</script>
</html>